* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Dancing Script', cursive;
    font-family: 'Poppins', sans-serif;
    color: black;
    background-color: white;
  }
  
  .container {
    max-width: 90rem;
    margin: 2rem auto;
    padding: 0px 2rem;
  }
  
  .header {
    padding: 2rem;
    margin: 1rem 0px;
    text-align: center;
  }
  
  header > .title {
    margin-bottom: 1rem;
  }
  
  .tribute {
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 55rem;
    margin: 0px auto;
    background: #F3F4F3;
    color: black;
    align-items: center;
    padding: 0px 0px 0px 1rem;
  }
  
  .tribute blockquote {
    text-align: center;
    font-size: 3rem;
  }
  
  .tribute img {
    max-width: 100%;
    margin-left: 20%;
  }
  
  .bio {
    margin: 50px;
    padding: 0px 0.5rem;
  }
  
  .bio > h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 3rem;
    line-height: 2.8;
  }
  .bio > p {
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.4;
  }
  
  .bio > hr {
    margin-top: 5rem;
  }
  